
body{
  background-color:white;
  font-weight: 300;
}

.container{
  font-family: 'Lato', sans-serif;
  position:relative;
  padding:20px;
}

.left{
  position: absolute;
  width:50%;
  left:0px;
}

.selectors{
  margin: auto;
  width:50%;
  text-align: center;
  padding-top:60px;
  padding-bottom: 0px;
  padding-left:100px;
  margin-bottom: -20px;
  font-weight: 300;
}

#submit_button{
  padding:12px 22px 12px 22px;
  margin-top:20px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color:#118AB2;
  -webkit-appearance: none; 
  -moz-appearance: none;
  cursor: pointer; 
  box-shadow: 0px 0px 2px #118AB2;
  border-width: 1px;
  border-color: #118AB2;
  border-radius: 40px;
}

#submit_button:hover{
  background-color: #118AB2;
  color:white;
}

.right{
  position:absolute;
  width:50%;
  right:0px;
}

.right h1{
  text-align: center;
  font-weight: 900;
  font-size: 1.2em;
}


#root div {
  width: 500px;
  margin: 10px
}
 
ol {
  color: #ccc;
  list-style-type: none;
}
 
ol li {
  position: relative;
  padding: 10px;
  padding-left: 20px;
  margin: auto;
  margin-bottom: 20px;
  width:80%;
  border-width: 1px;
  border-color: #118AB2;
  background-color: white;
  box-shadow: 0px 0px 1px lightgrey;
  cursor: pointer; 
  font-size:20px;
  line-height: 38px;
  color:#118AB2;
}

li:hover{;
  box-shadow: 0px 0px 5px lightgrey;}
 
li p {
  padding-left: 60px;
  color: #555;
  font-size:15px;
  line-height: 10px;
}
 
span {
  position: absolute;
}

select {
  position:relative;
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;       /* remove default arrow */
  padding:10px;
  margin-left:10px;
  width:80px;
  border-radius: 0px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#chart_div {
    margin-left:20px;
}
